*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pro-container {
  width: 100% ;
  background-color: #fff;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.title{
  font-size: 30px;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right,#c72092, #6c14d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
@media screen and (max-width:480px ) {
  .title{
    font-size: 20px;
    padding: 5px;
  }
  .navbar {
    height: 50px;
  }
  .pro-container {
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
  }
}
