.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
h1{
   font-size: 30px;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right,#c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.form-label{
    font-weight: bold;
}
.form-control{
    margin-bottom: 15px;
}
button{
    margin-bottom: 10px;
}
.btn-primary{
    width: 100%;
    background-color: blue;
    border: none;
    color: #fff;
}
.msg{
    width: 100%;
    background-color: blue;
    border: none;
    color: #fff;
}
